type camera_binder_service, protected_service, service_manager_type, hal_service_type;
type camera_cameraidremapper_service, protected_service, service_manager_type, hal_service_type;
type camera_lyricconfigprovider_service, protected_service, service_manager_type, hal_service_type;
type vendor_pbcs_app, domain, appdomain, coredomain;
type vendor_pcs_app, domain, appdomain, netdomain, bluetoothdomain, coredomain;
type better_bug_app, domain, appdomain, netdomain, coredomain;
type google_recorder_app, domain, appdomain, netdomain, coredomain;
type pixelsupport_app, domain, appdomain, netdomain, bluetoothdomain, coredomain;
type debug_camera_app, domain, coredomain;
typeattribute google_camera_app appdomain;
typeattribute google_camera_app netdomain;
typeattribute google_camera_app coredomain;
typeattribute google_camera_app halclientdomain;
typeattribute google_camera_app hal_power_client;
type vendor_pbcs_app_userfaultfd;
type vendor_pcs_app_userfaultfd;
type better_bug_app_userfaultfd;
type google_recorder_app_userfaultfd;
type pixelsupport_app_userfaultfd;
type google_camera_app_userfaultfd;