type brownout_detection_app, domain, coredomain;
type edgetpu_app_server, domain, binderservicedomain, coredomain;
type edgetpu_app_service, app_api_service, service_manager_type, isolated_compute_allowed_service;
type rilextensionservice_app, domain, appdomain, coredomain;
type mosey_app, domain, appdomain, netdomain, coredomain;
type turbo_adapter, domain, appdomain, coredomain, halclientdomain, hal_power_client, hal_power_stats_client, system_suspend_internal_server;
type pixelsystemservice_app, domain, appdomain, coredomain;
type dcservice_app, domain, appdomain, netdomain, coredomain;
type bluetooth_gci, domain, coredomain;
type bluetooth_gci_exec, file_type, exec_type, system_file_type;
type con_monitor_app, domain, appdomain, coredomain;
type grilservice_app, domain, appdomain, coredomain;
type pixeldisplayservice_app, domain, appdomain, coredomain;
type pixelntnservice_app, domain, appdomain, coredomain;
type telephony_ril_prop, property_type, system_property_type, system_public_property_type;
type telephony_modem_prop, property_type, system_property_type, system_restricted_property_type;
type telephony_modemtype_prop, property_type, system_property_type, system_public_property_type;
type telephony_ntn_demo_mode_prop, property_type, system_property_type, system_restricted_property_type;
type systemui_app, domain, appdomain, coredomain;
type vendor_rcs_app, domain, appdomain, netdomain, coredomain;
type vendor_satellite_service, domain, appdomain, coredomain;
type gs_watchdogd, domain, coredomain;
type gs_watchdogd_exec, file_type, exec_type, system_file_type;
type factory_ota_app, domain, appdomain, netdomain, coredomain;
type factory_ota_app_userfaultfd;
type hal_audio_parameter_parser, domain, binderservicedomain, coredomain;
type hal_audio_parameter_parser_exec, file_type, exec_type, system_file_type;
type hal_audio_parameter_parser_service, service_manager_type;
type edgetpu_app_server_exec, file_type, exec_type, system_file_type;
type deprecated_soc_prop, property_type, system_property_type, system_internal_property_type;
type rilextensionservice_app_userfaultfd;
type mosey_app_userfaultfd;
type flipendo, domain, appdomain, coredomain, halclientdomain, hal_power_client;
type flipendo_userfaultfd;
type flag_flipper_app, domain, appdomain, coredomain;
type flag_flipper_app_userfaultfd;
type repair_mode_metadata_config_file, file_type, mlstrustedobject;
type repair_mode_init_prop, property_type, system_property_type, system_internal_property_type;
type repair_mode_app, domain, appdomain, coredomain;
type repair_mode_app_userfaultfd;
type turbo_adapter_userfaultfd;
type connectivity_thermal_power_manager, domain, appdomain, coredomain, halclientdomain, hal_power_stats_client, hal_thermal_client, system_suspend_internal_server;
type connectivity_thermal_power_manager_userfaultfd;
type pixelsystemservice_app_userfaultfd;
type pixelsystemservice_contextualawareness_prop, property_type, system_property_type, system_internal_property_type;
type dcservice_app_userfaultfd;
type con_monitor_app_userfaultfd;
type grilservice_app_userfaultfd;
type pixeldisplayservice_app_userfaultfd;
type pixelntnservice_app_userfaultfd;
type vendor_sysuig_prop, property_type, system_property_type, system_internal_property_type;
type systemui_app_userfaultfd;
type vendor_rcs_app_userfaultfd;
type vendor_rcs_service_app, domain, appdomain, coredomain;
type vendor_rcs_service_app_userfaultfd;
type vendor_satellite_service_userfaultfd;
typeattribute platform_app halclientdomain;
typeattribute platform_app hal_fingerprint_client;
type preloads_copy, domain, coredomain;
type system_server_startup, domain, coredomain;
type preloads_copy_exec, file_type, exec_type, system_file_type;
type system_server_startup_tmpfs, file_type;